@import "../styles/colors.scss";


.Wrapper{
    padding: 4rem 2rem;
    background-color: white;

    @media only screen and (max-width: 767px){
        padding: 2rem 1rem;
    }


    .featured_top_header_tag{
        font-size: 2rem;
        font-weight: 400;
        margin-bottom: 1.25rem;
        cursor: pointer;
        display: inline-block;

        &:hover{
            color: $PINK;
            text-decoration: underline;
            text-decoration-thickness: 1px;
        }

        @media only screen and (min-width: 2501px) {
            font-size: 3.5rem;
      }

        @media only screen and (min-width: 2201px) and (max-width: 2500px) {
            font-size: 3rem;
      }


    @media only screen and (min-width: 1801px) and (max-width: 2200px) {
        font-size: 2.5rem;
  }

        @media only screen and (min-width: 1400px) and (max-width: 1800px) {
          font-size: 2.25rem;
    }

       
        @media only screen and (max-width: 768px) {
            font-size: 1.5rem;
    }
    }

    .mySwiper{
  
        .mySwiperSlide{
            transform: translateZ(0);
            -web-kit-transform: translateZ(0);  
            max-width: 700px;
            width: 100%;
            min-height: 600px;
            transition: all 0.3s ease-in;
            cursor: pointer;
            background: white;
            // background-color: green;

            &:hover{
                transition: all 0.3s ease-out;
                background-color: whitesmoke;
            }



            @media only screen and (min-width: 2501px) {
                min-height: 1500px; 
        }


            @media only screen and (min-width: 2201px) and (max-width: 2500px) {
                min-height: 1050px; 
        }

            @media only screen and (min-width: 1801px) and (max-width: 2200px) {
                min-height: 800px; 
        }

           
            @media only screen and (min-width: 1400px) and (max-width: 1800px) {
                min-height: 700px; 
        }


            .mySwiperSlide_img_wrapper{
                
                position: relative;
                .mySwiperSlide_img{
                    max-width: 100%;
                    width: 100%;
                    min-height: 350px;
                    object-fit: cover;
                   
                    object-position: center;


                    @media only screen and (min-width: 2501px) {
                        min-height: 1100px; 
                }

                    @media only screen and (min-width: 2201px) and (max-width: 2500px) {
                        min-height: 700px;
                }


                    @media only screen and (min-width: 1801px) and (max-width: 2200px) {
                        min-height: 550px;
                }


                @media only screen and (min-width: 1400px) and (max-width: 1800px) {
                    
                        min-height: 460px;
                }


                @media only screen and (min-width: 1024px) and (max-width: 1199px) {
                    
                    min-height: 420px;
                }

                @media only screen and (min-width: 640px) and (max-width: 1023px) {
                    
                    max-height: 350px;
                }

                @media only screen and (max-width: 639px) {
                    max-height: 200px;
                }

            }
            }

            .mySwiperSlide_details{
                padding: 0.8rem  0.2rem;
                h6{
                    // Genre
                    font-size: 0.9rem;
                    font-weight: normal;
                    margin-bottom: 0.6rem;
                    color: darkgrey;

                    @media only screen and (min-width: 2501px) {
                        font-size: 2rem;
                }

                    @media only screen and (min-width: 2201px) and (max-width: 2500px) {
                        font-size: 1.6rem;
                }

                    @media only screen and (min-width: 1801px) and (max-width: 2200px) {
                        font-size: 1.25rem;
                }

                    
                @media only screen and (min-width: 1400px) and (max-width: 1800px) {
                    
                    font-size: 1.1rem;
            }

                    @media only screen and (max-width: 639px) {
                        font-size: 1rem;
                    }

                }

                h4{
                    // TItle
                    font-size: 1rem;
                    margin-bottom: 1rem;


                    @media only screen and (min-width: 2501px) {
                        font-size: 2.7rem;
                }


                    @media only screen and (min-width: 2201px) and (max-width: 2500px) {
                        font-size: 2.25rem;
                }

                    @media only screen and (min-width: 1801px) and (max-width: 2200px) {
                        font-size: 1.6rem;
                }


                    @media only screen and (min-width: 1400px) and (max-width: 1800px) {
                    
                        font-size: 1.3rem;
                }

                    @media only screen and (max-width: 639px) {
                        font-size: 1.25rem;
                    }
                }

                h5{
                    // Icons
                    font-size: 0.9rem;
                    color: darkgrey;
                    font-weight: normal;

                    @media only screen and (min-width: 2501px) {
                        font-size: 1.8rem;
                }

                    @media only screen and (min-width: 2201px) and (max-width: 2500px) {
                        font-size: 1.6rem;
                }

                    @media only screen and (min-width: 1801px) and (max-width: 2200px) {
                        font-size: 1.2rem;
                }


                    @media only screen and (min-width: 1400px) and (max-width: 1800px) {
                    
                        font-size: 1.05rem;
                }

                    @media only screen and (max-width: 639px) {
                        font-size: 1rem;
                    }

                }

                .mySwiperSlide_author{
                    font-size: 1.25rem;

                    
                    @media only screen and (min-width: 2501px) {
                        font-size: 2.4rem;
                }

                    @media only screen and (min-width: 2201px) and (max-width: 2500px) {
                        font-size: 2rem;
                }
                    
                    @media only screen and (min-width: 1801px) and (max-width: 2200px) {
                        font-size: 1.7rem;
                }

                    @media only screen and (min-width: 1400px) and (max-width: 1800px) {
                    
                        font-size: 1.4rem;
                }

                    @media only screen and (max-width: 639px) {
                        font-size: 1.5rem;
                    }
                }


               .mySwiperSlide_extra_details{
                   position: absolute;
                   top: 0;
                   left: 0;
                   right: 0;
                   bottom: 0;
                   .mySwiperSlide_extra_details_Price{
                       background: $PINK;
                       max-width: 80px;
                       width: 100%;
                       font-size: 1.25rem;
                       text-align: center;
                       color: white;
                       padding: 0.2rem 0;

                       @media only screen and (min-width: 2501px) {
                        font-size: 2.5rem;
                        max-width: 200px;
                }


                    @media only screen and (min-width: 2201px) and (max-width: 2500px) {
                        font-size: 2.25rem;
                       max-width: 170px;
                }

                    @media only screen and (min-width: 1801px) and (max-width: 2200px) {
                       font-size: 2rem;
                       max-width: 150px;
                }

                   }
               }

            }

        
          
            .mySwiperSlide_tooltip_favourites{
                font-size: 1.25rem;
                color: $RED;
               

                @media only screen and (min-width: 2501px) {
                    font-size: 3rem;
            }

                @media only screen and (min-width: 2201px) and (max-width: 2500px) {
                    font-size: 2.5rem;
            }

                @media only screen and (min-width: 1801px) and (max-width: 2200px) {
                    font-size: 2rem;
             }

             @media only screen and (min-width: 1400px) and (max-width: 1800px) {
                font-size: 1.5rem;
         }

            }

                .mySwiperSlide_tooltip_cart{
                    font-size: 1.25rem;
                    color: $BLUE;

                    @media only screen and (min-width: 2501px) {
                        font-size: 3rem;
                }

                    @media only screen and (min-width: 2201px) and (max-width: 2500px) {
                        font-size: 2.5rem;
                }

                    @media only screen and (min-width: 1801px) and (max-width: 2200px) {
                        font-size: 2rem;
                 }

                 @media only screen and (min-width: 1400px) and (max-width: 1800px) {
                    font-size: 1.5rem;
             }

                }
           
        }
    }

}

