@import "../styles/colors.scss";


.Wrapper{
    padding: 4rem 2rem;
    background-color: white;
    min-height: 100vh;

    @media only screen and (max-width: 767px){
        padding: 2rem 0.3rem;
    }

    .filter_on_mobile_phones{
        display: none;
        margin-bottom: 1.25rem;

        @media only screen and (max-width: 660px){
           display: block;
        }

        select{
            all: unset;
       
        border: 2px solid white;
        padding: 0.4rem 0.6rem;
        background-color: $BLACK;
        color: white;
            font-size: 0.8rem;
     
        }

        span{
            margin: 0 0.6rem;
            font-size: 0.9rem;
            font-weight: normal;
            text-transform: capitalize;
            font-weight: 700;
        }

        .display_all_btn_mobile{
            all: unset;
            font-size: 0.9rem;
            text-decoration: underline;
            color: $BLUE;

            @media only screen and (max-width: 415px){
                margin-top: 1rem;
             }

        }
    }

    .loading_spinner{
        margin: 0 auto;
        display: block;
        margin-top: 2rem;
        margin-bottom: 2rem;
        color: darkgrey;

        @media only screen and (min-width: 2501px){
            width: 60px;
            height: 60px;
        }

        @media only screen and (min-width: 1800px) and (max-width: 2500px){
            width: 50px;
            height: 50px;
        }
    
    }

    .books_wrapper{
        position: relative;
        background-color: white;
        // background-color: red;
        width: 100%;
        min-height: 400px;
        margin-bottom: 1.25rem;
        cursor: pointer;
        transition: all 0.3s ease-in;

        @media only screen and (min-width: 2501px){
            max-width: 600px;
            width: 100%;
           min-height: 760px;
        }

        @media only screen and (min-width: 2201px) and (max-width: 2500px) {
            max-width: 600px;
            width: 100%;
           min-height: 650px;
     }

        @media only screen and (min-width: 1801px) and (max-width: 2200px) {
            max-width: 600px;
         width: 100%;
        min-height: 550px;
     }

        @media only screen and (min-width: 1400px) and (max-width: 1800px) {
            max-width: 600px;
         width: 100%;
        min-height: 450px;
     }

        @media only screen and (max-width: 767px) {
            max-width: 600px;
         width: 100%;
        min-height: 410px;
     }

     @media only screen and (max-width: 660px) {
        
 }

        &:hover{
            transition: all 0.3s ease-out;
            background-color: whitesmoke;
        }

        img{
         
           width: 100%;
           max-height: 200px;
           object-fit: cover;
           object-position: center bottom;

           @media only screen and (min-width: 2501px){
            min-height: 350px;
           }

           @media only screen and (min-width: 2201px) and (max-width: 2500px) {
            min-height: 300px;
        }

           @media only screen and (min-width: 1801px) and (max-width: 2200px) {
            min-height: 270px;
        }

           @media only screen and (min-width: 1400px) and (max-width: 1800px) {
            min-height: 230px;
        }

           @media only screen and (max-width: 767px) {
            min-height: 200px;
        }

    

        }
        .books_details{
            padding: 0.8rem  0.2rem;
            h6{
                // Genre
                font-size: 0.9rem;
                font-weight: normal;
                margin-bottom: 0.6rem;
                margin-top: 1rem;
                color: darkgrey;

                @media only screen and (min-width: 2501px) {
                    font-size: 2rem;
            }

                @media only screen and (min-width: 2201px) and (max-width: 2500px) {
                    font-size: 1.6rem;
            }

                @media only screen and (min-width: 1801px) and (max-width: 2200px) {
                    font-size: 1.25rem;
            }

                
            @media only screen and (min-width: 1400px) and (max-width: 1800px) {
                
                font-size: 1.1rem;
        }

                @media only screen and (max-width: 639px) {
                    font-size: 0.9rem;
                }

            }

            h4{
                // TItle
                font-size: 1rem;
                margin-bottom: 1rem;


                @media only screen and (min-width: 2501px) {
                    font-size: 2.5rem;
            }


                @media only screen and (min-width: 2201px) and (max-width: 2500px) {
                    font-size: 2.25rem;
            }

                @media only screen and (min-width: 1801px) and (max-width: 2200px) {
                    font-size: 1.6rem;
            }


                @media only screen and (min-width: 1400px) and (max-width: 1800px) {
                
                    font-size: 1.3rem;
            }

                @media only screen and (max-width: 639px) {
                    font-size: 1rem;
                }
            }

            h5{
                // Icons
                font-size: 0.9rem;
                color: darkgrey;
                font-weight: normal;

                @media only screen and (min-width: 2501px) {
                    font-size: 1.8rem;
            }

                @media only screen and (min-width: 2201px) and (max-width: 2500px) {
                    font-size: 1.6rem;
            }

                @media only screen and (min-width: 1801px) and (max-width: 2200px) {
                    font-size: 1.2rem;
            }


                @media only screen and (min-width: 1400px) and (max-width: 1800px) {
                
                    font-size: 1.05rem;
            }

                @media only screen and (max-width: 639px) {
                    font-size: 0.9rem;
                }

            }

            .mySwiperSlide_author{
                font-size: 1.25rem;

                
                @media only screen and (min-width: 2501px) {
                    font-size: 2.4rem;
            }

                @media only screen and (min-width: 2201px) and (max-width: 2500px) {
                    font-size: 2rem;
            }
                
                @media only screen and (min-width: 1801px) and (max-width: 2200px) {
                    font-size: 1.7rem;
            }

                @media only screen and (min-width: 1400px) and (max-width: 1800px) {
                
                    font-size: 1.4rem;
            }

                @media only screen and (max-width: 639px) {
                    font-size: 1.25rem;
                }
            }



            .mySwiperSlide_extra_details_SALE{
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                .mySwiperSlide_extra_details_Price_SALE{
                    background: $PINK;
                    max-width: 150px;
                    width: 100%;
                    font-size: 1.25rem;
                    text-align: center;
                    color: white;
                    padding: 0.2rem 0;
 
                    @media only screen and (min-width: 2501px) {
                     font-size: 2.5rem;
                     max-width: 300px;
             }
 
 
                 @media only screen and (min-width: 2201px) and (max-width: 2500px) {
                     font-size: 2.25rem;
                    max-width: 250px;
             }
 
                 @media only screen and (min-width: 1801px) and (max-width: 2200px) {
                    font-size: 2rem;
                    max-width: 200px;
             }
                }
            }

           .mySwiperSlide_extra_details{
               position: absolute;
               top: 0;
               left: 0;
               right: 0;
               bottom: 0;
               .mySwiperSlide_extra_details_Price{
                   background: $PINK;
                   max-width: 80px;
                   width: 100%;
                   font-size: 1.25rem;
                   text-align: center;
                   color: white;
                   padding: 0.2rem 0;

                   @media only screen and (min-width: 2501px) {
                    font-size: 2.5rem;
                    max-width: 200px;
            }


                @media only screen and (min-width: 2201px) and (max-width: 2500px) {
                    font-size: 2.25rem;
                   max-width: 170px;
            }

                @media only screen and (min-width: 1801px) and (max-width: 2200px) {
                   font-size: 2rem;
                   max-width: 150px;
            }

               }
           }


           .mySwiperSlide_tooltip_favourites{
            font-size: 1.25rem;
            color: $RED;
           

            @media only screen and (min-width: 2501px) {
                font-size: 3rem;
        }

            @media only screen and (min-width: 2201px) and (max-width: 2500px) {
                font-size: 2.5rem;
        }

            @media only screen and (min-width: 1801px) and (max-width: 2200px) {
                font-size: 2rem;
         }

         @media only screen and (min-width: 1400px) and (max-width: 1800px) {
            font-size: 1.5rem;
     }

        }

            .mySwiperSlide_tooltip_cart{
                font-size: 1.25rem;
                color: $BLUE;

                @media only screen and (min-width: 2501px) {
                    font-size: 3rem;
            }

                @media only screen and (min-width: 2201px) and (max-width: 2500px) {
                    font-size: 2.5rem;
            }

                @media only screen and (min-width: 1801px) and (max-width: 2200px) {
                    font-size: 2rem;
             }

             @media only screen and (min-width: 1400px) and (max-width: 1800px) {
                font-size: 1.5rem;
         }

            }

        }
    }

    .settings_wrapper{
        background-color: $BLACK;
    

        min-height: 270px; 
        height: 100%; 
        color: white;
        padding: 1rem;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        

        @media only screen and (min-width: 2501px){
            min-height: 650px;
        }

        @media only screen and (min-width: 2201px) and (max-width: 2500px){
            min-height: 600px;
        }

        @media only screen and (min-width: 1801px) and (max-width: 2200px){
            min-height: 500px;
        }

        @media only screen and (min-width: 1400px) and (max-width: 1800px){
           min-height: 400px;
        }

        @media only screen and (max-width: 1200px) { 
            min-height: 200px; 
        }

        // @media only screen and (max-width: 992px) { 
        //     min-height: 250px; 
        // }

        // @media only screen and (max-width: 768px) { 
        //     min-height: 200px; 
        // }
        
        .settings_box{
            h5{
                font-size: 1rem;
                text-align: center;
                margin-bottom: 1rem;
                font-weight: normal;

                @media only screen and (min-width: 2501px){
                    font-size: 1.8rem;
                }

                @media only screen and (min-width: 2201px) and (max-width: 2500px){
                    font-size: 1.6rem;
                }

                @media only screen and (min-width: 1801px) and (max-width: 2200px){
                    font-size: 1.5rem;
                 }

                @media only screen and (max-width: 768px) { 
                    font-size: 0.8rem;
                    margin-bottom: 0.6rem;
                }
            }

            .filter_icon{
                font-size: 1.5rem;

                @media only screen and (min-width: 2501px){
                    font-size: 3rem;
                }

                @media only screen and (min-width: 2201px) and (max-width: 2500px){
                    font-size: 2.6rem;
                }

                @media only screen and (min-width: 1801px) and (max-width: 2200px){
                    font-size: 2.5rem;
                 }

                @media only screen and (max-width: 768px) { 
                    font-size: 1rem;
                }


            }

            .display_all_btn{
                all: unset;
                cursor: pointer;
                margin: 0 auto;
                display: block;
                margin-top: 1rem;
                text-decoration: underline;
                color: $BLUE;
                font-size: 0.9rem;


                @media only screen and (min-width: 2501px){
                    font-size: 1.8rem;
                }

                @media only screen and (min-width: 2201px) and (max-width: 2500px){
                    font-size: 1.5rem;
                }
    

                @media only screen and (min-width: 1801px) and (max-width: 2200px){
                    font-size: 1.25rem;
                 }

                @media only screen and (max-width: 1200px) { 
                    margin-top: 0.6rem;
                    font-size: 0.8rem;
                }

                @media only screen and (max-width: 768px) { 
                    margin-top: 1rem;
                    font-size: 0.8rem;
                }

            }
        }

        select{
            all: unset;
            cursor: pointer;
            border: 2px solid white;
            padding: 0.6rem 1rem;
            background-color: $BLACK;
            color: white;
            margin: 0 auto;
            display: block;
            max-width: 300px;
            width: 100%;

            
        @media only screen and (min-width: 2501px){
            max-width: 360px;
                width: 100%;
                font-size: 2rem;
        }

            @media only screen and (min-width: 2201px) and (max-width: 2500px){
                max-width: 350px;
                width: 100%;
                font-size: 1.5rem;
            }

            @media only screen and (min-width: 1801px) and (max-width: 2200px){
                max-width: 360px;
                width: 100%;
                font-size: 1.25rem;
             }

            @media only screen and (min-width: 1400px) and (max-width: 1800px){
                max-width: 330px;
                width: 100%;
             }

            @media only screen and (max-width: 1200px) { 
                max-width: 200px;
                width: 100%;
            }

            @media only screen and (max-width: 900px) { 
                max-width: 150px;
                width: 100%;
            }

            @media only screen and (max-width: 768px) { 
                max-width: 100px;
                width: 100%;
                font-size: 0.8rem;
            }

        }

        .results_wrapper{
            text-align: center;
            margin-top: 2rem;

            @media only screen and (min-width: 2501px){
                margin-top: 8rem;
            }

            @media only screen and (min-width: 2201px) and (max-width: 2500px){
                margin-top: 7rem;
            }

            @media only screen and (min-width: 1801px) and (max-width: 2200px){
                margin-top: 6rem;
             }

            @media only screen and (min-width: 1400px) and (max-width: 1800px) { 
                margin-top: 4rem;
            }

            @media only screen and (max-width: 1200px) { 
                margin-top: 1rem;
            }

            h5{
                font-size: 2rem;
                font-weight: normal;
                text-transform: capitalize;

                @media only screen and (min-width: 2501px){
                    font-size: 3.3rem;
                }

                @media only screen and (min-width: 2201px) and (max-width: 2500px){
                    font-size: 3.25rem;
                }

                @media only screen and (min-width: 1801px) and (max-width: 2200px){
                    font-size: 3rem;
                 }

                @media only screen and (min-width: 1400px) and (max-width: 1800px){
                    font-size: 2.5rem;
                 }

                @media only screen and (max-width: 1200px) { 
                    font-size: 1rem;
                }

                @media only screen and (max-width: 768px) { 
                    font-size: 0.8rem;
                }
            }
        }

        @media only screen and (max-width: 767px) {
            margin: 0 auto;
            max-width: 200px;
         width: 100%;
  
     }

     @media only screen and (max-width: 660px) {
        display: none;
    }

    }

    .featured_top_header_tag{
        font-size: 2rem;
        font-weight: 400;
        margin-top: 10rem;
        margin-bottom: 1.25rem;
     

        @media only screen and (min-width: 2501px) {
            margin-top: 18rem;
            font-size: 3.5rem;
      }

        @media only screen and (min-width: 2201px) and (max-width: 2500px) {
            margin-top: 14rem;
            font-size: 3rem;
      }


    @media only screen and (min-width: 1801px) and (max-width: 2200px) {
        margin-top: 12rem;
        font-size: 2.5rem;
  }

        @media only screen and (min-width: 1400px) and (max-width: 1800px) {
          font-size: 2.25rem;
    }

       
    @media only screen and (max-width: 991px){
        margin-top: 4rem;
    }

        @media only screen and (max-width: 768px) {
            font-size: 1.5rem;
    }

    @media only screen and (max-width: 767px) {
     margin-top: 6rem;
}

    }

   

}




