@import "../styles/colors.scss";







.SINGLE_REMOVE_BTN{
  
    position: absolute;
    top: 0;
    right: 0;

    cursor: pointer;
    margin: 0;
    font-size: 1.5rem;
    // color: #b22222;
    color: maroon;


    @media only screen and (min-width: 2501px) { 
        font-size: 2.8rem;
    }

    @media only screen and (min-width: 2201px) and (max-width: 2500px) { 
        font-size: 2.5rem;
    }

    @media only screen and (min-width: 1801px) and (max-width: 2200px) { 
        font-size: 2rem;
    }

    @media only screen and (min-width: 1400px) and (max-width: 1800px) { 
        font-size: 1.7rem;
    }

    @media only screen and (max-width: 576px) { 
        
    }
}




.CART_N_FAV_OFFCANVAS{


    @media only screen and (min-width: 2501px) { 
        max-width: 750px;
        width: 100%;
    }

    @media only screen and (min-width: 2201px) and (max-width: 2500px) { 
        max-width: 650px;
        width: 100%;
    }

    @media only screen and (min-width: 1801px) and (max-width: 2200px) { 
        max-width: 550px;
        width: 100%;
    }

    @media only screen and (min-width: 1400px) and (max-width: 1800px) { 
        max-width: 450px;
        width: 100%;
    }

 
    .CHECK_OUT_BTN_REMOVE{
        all: unset;
        cursor: pointer;
        margin: 0 auto;
        margin-top: 0.6rem;
        display: block;
        max-width: 200px;
        width: 100%;
        background-color: #b22222;
        margin-bottom: 0.3rem;
        padding: 0.1rem 1rem;
        font-size: 1rem;
        font-weight: 400;
        text-align: center;
        color: whitesmoke;
        transition: all 0.2s ease-in;
        border-radius: 8px;

        &:hover{
            background-color: maroon;
        }

        @media only screen and (min-width: 2501px) { 
            font-size: 2.25rem;
        }
    
        @media only screen and (min-width: 2201px) and (max-width: 2500px) { 
            font-size: 2rem;
        }
    
        @media only screen and (min-width: 1801px) and (max-width: 2200px) { 
            font-size: 1.5rem;
        }
    
        @media only screen and (min-width: 1400px) and (max-width: 1800px) { 
            font-size: 1.25rem;
        }

        @media only screen and (max-width: 576px) { 
           font-size: 0.8rem;
           padding: 0.3rem 1rem;
         }

       

    }

 

    .CHECK_OUT_BTN{
        all: unset;
        cursor: pointer;
        margin: 0 auto;
        margin-top: 0.6rem;
        display: block;
        max-width: 200px;
        width: 100%;
        background-color: $BTN_BLUE;
        margin-bottom: 0.3rem;
        padding: 0.1rem 1rem;
        font-size: 1rem;
        font-weight: 400;
        text-align: center;
        color: whitesmoke;
        transition: all 0.2s ease-in;
        border-radius: 8px;

        &:hover{
            transition: all 0.2s ease-in;
            background-color: $H_BLUE;
        }


        @media only screen and (min-width: 2501px) { 
            font-size: 2.25rem;
        }
    
        @media only screen and (min-width: 2201px) and (max-width: 2500px) { 
            font-size: 2rem;
        }
    
        @media only screen and (min-width: 1801px) and (max-width: 2200px) { 
            font-size: 1.5rem;
        }
    
        @media only screen and (min-width: 1400px) and (max-width: 1800px) { 
            font-size: 1.25rem;
        }

        @media only screen and (max-width: 576px) { 
           font-size: 0.8rem;
           padding: 0.3rem 1rem;
         }

       

    }


    .YOUR_CART{
       font-size: 1.25rem;
       font-weight: 400;

       @media only screen and (min-width: 2501px) { 
        font-size: 2.8rem;
    }

    @media only screen and (min-width: 2201px) and (max-width: 2500px) { 
        font-size: 2.5rem;
    }

    @media only screen and (min-width: 1801px) and (max-width: 2200px) { 
        font-size: 2rem;
    }

    @media only screen and (min-width: 1400px) and (max-width: 1800px) { 
        font-size: 1.5rem;
    }

    @media only screen and (max-width: 576px) { 
       font-size: 1rem;
    }

   }

//    #CART_N_FAV_OFFCANVAS_BODY_FAVOURITES{
       
//    }

    #BOXES_FAV{
        transition: all 0.2s ease-in;
       &:hover{
        transition: all 0.2s ease-out;
           cursor: pointer;
           background-color: whitesmoke;
       }
    }

   .CART_N_FAV_OFFCANVAS_BODY{
       width: 100%;
    //    background-color: red;
       min-height: 300px;

       .BOXES{
           position: relative;
        margin-bottom: 1rem;
        padding: 0.6rem;
        width: 100%;
        background-color: white;

        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;



    


        p{  
            margin: 0;
            font-size: 0.8rem;
            color: darkgrey;
            margin-top: 0.6rem;

            @media only screen and (min-width: 2501px) { 
                font-size: 1.8rem;
            }

            @media only screen and (min-width: 2201px) and (max-width: 2500px) { 
                font-size: 1.5rem;
            }

            @media only screen and (min-width: 1801px) and (max-width: 2200px) { 
                font-size: 1.25rem;
            }

            @media only screen and (min-width: 1400px) and (max-width: 1800px) { 
                font-size: 1rem;
            }

            @media only screen and (max-width: 576px) { 
                font-size: 0.7rem;
            }

        }

        .OTHERS{
            text-align: left;

            

            .QTY_TOTAL{
                margin-top: 1rem;
                font-size: 1rem;
                font-weight: 400;


                
                @media only screen and (min-width: 2501px) { 
                    font-size: 2.25rem;
                }

                @media only screen and (min-width: 2201px) and (max-width: 2500px) { 
                    font-size: 2rem;
                }

                @media only screen and (min-width: 1801px) and (max-width: 2200px) { 
                    font-size: 1.5rem;
                }


                @media only screen and (min-width: 1400px) and (max-width: 1800px) { 
                    font-size: 1.1rem;
                }

                @media only screen and (max-width: 576px) { 
                    font-size: 0.8rem;
                }
            }

            .BTNS{
                margin-top: 0.6rem;
                input{
                    all: unset;
                    max-width: 40px;
                    width: 100%;
                    border: 2px solid $BLACK;
                    text-align: center;
                    font-weight: 600;
                    border-radius: 5px;

                    @media only screen and (min-width: 2501px) { 
                        font-size: 2.1rem;
                    }

                    @media only screen and (min-width: 2201px) and (max-width: 2500px) { 
                        font-size: 1.8rem;
                    }
    

                    @media only screen and (min-width: 1801px) and (max-width: 2200px) { 
                        font-size: 1.3rem;
                    }
                    
                    @media only screen and (max-width: 576px) { 
                        font-size: 0.8rem;
                    }

                @media only screen and (max-width: 345px) { 
                    max-width: 25px;
                }

                }

                button{
                    all: unset;
                    cursor: pointer;
                    background-color: $BLACK;
                    color: white;
                    padding: 0 1rem;
                    border-radius: 5px;
                    font-size: 1rem;
                    transition: all 0.2s ease-in;

                    &:hover{
                      transition: all 0.2s ease-out;
                      background-color: $H_BLUE;
                      color: white;
                    }

                    @media only screen and (min-width: 2501px) { 
                        font-size: 2.1rem;
                    }

                    @media only screen and (min-width: 2201px) and (max-width: 2500px) { 
                        font-size: 1.8rem;
                    }

                    @media only screen and (min-width: 1801px) and (max-width: 2200px) { 
                        font-size: 1.3rem;
                    }

                    @media only screen and (max-width: 576px) { 
                        font-size: 0.8rem;
                    }

                   
                }
            }

            h6{
                margin: 0;
                font-size: 0.8rem;
                font-weight: 400;
                color: darkgrey;
              

                @media only screen and (min-width: 2501px) { 
                    font-size: 1.9rem;
                }

                @media only screen and (min-width: 2201px) and (max-width: 2500px) { 
                    font-size: 1.5rem;
                }

                @media only screen and (min-width: 1801px) and (max-width: 2200px) { 
                    font-size: 1.25rem;
                }

                @media only screen and (min-width: 1400px) and (max-width: 1800px) { 
                    font-size: 1rem;
                }

                @media only screen and (max-width: 576px) { 
                    font-size: 0.7rem;
                }
            }
            h4{
                margin: 0;
                font-size: 1rem;
                font-weight: 500;
                margin-bottom: 0.4rem;

                color: $BLACK;

                @media only screen and (min-width: 2501px) { 
                    font-size: 2.25rem;
                }

                @media only screen and (min-width: 2201px) and (max-width: 2500px) { 
                    font-size: 2rem;
                }

                @media only screen and (min-width: 1801px) and (max-width: 2200px) { 
                    font-size: 1.5rem;
                }

                @media only screen and (min-width: 1400px) and (max-width: 1800px) { 
                    font-size: 1.25rem;
                }

                @media only screen and (max-width: 576px) { 
                    font-size: 0.9rem;
                }

            }
            h5{
                margin: 0;
                font-size: 0.8rem;
                margin-bottom: 0.45rem;
                font-weight: 400;
                color: darkgrey;

                @media only screen and (min-width: 2501px) { 
                    font-size: 1.8rem;
                }

                @media only screen and (min-width: 2201px) and (max-width: 2500px) { 
                    font-size: 1.5rem;
                }

                @media only screen and (min-width: 1801px) and (max-width: 2200px) { 
                    font-size: 1.25rem;
                }

                @media only screen and (min-width: 1400px) and (max-width: 1800px) { 
                    font-size: 1rem;
                }

                @media only screen and (max-width: 576px) { 
                    font-size: 0.7rem;
                }
            }
        }
        img{
            display: block;
            width: 100%;
            max-height: 220px;
            height: 100%;
            object-fit:contain;

            @media only screen and (min-width: 2501px) { 
                min-height: 450px;
            }

            @media only screen and (min-width: 2201px) and (max-width: 2500px) { 
                min-height: 400px;
            }

            @media only screen and (min-width: 1801px) and (max-width: 2200px) { 
                min-height: 300px;
               
            }

            @media only screen and (min-width: 1400px) and (max-width: 1800px) { 
                max-height: 250px;
            }

        }
    }
   }
}