@import "../styles/colors.scss";

.Wrapper{
    padding: 4rem 2rem;
    background-color: $BLACK;
    color: whitesmoke;

    @media only screen and (max-width: 767px){
        padding: 2rem 1rem;
    }


.footer_box{
    margin-bottom: 2rem;

    .footer_h5{
        margin-bottom: 0.6rem;
        font-size: 1rem;
        color: grey;
        font-weight: normal;

        @media only screen and (min-width: 2501px){
      
            font-size: 2rem;
        }

        @media only screen and (min-width: 2101px) and (max-width: 2500px){
            font-size: 1.8rem;
        }

        @media only screen and (min-width: 1801px) and (max-width: 2100px){
            font-size: 1.5rem;
        }

        @media only screen and (min-width: 1400px) and (max-width: 1800px){
            font-size: 1.1rem;
        }

    }

    .footer_links_wrapper_tech_used{
        .footer_tech_used{
            all: unset;
            font-size: 1rem;
            display: block;
            color: darkgrey;

            @media only screen and (min-width: 2501px){
      
                font-size: 1.8rem;
            }

            @media only screen and (min-width: 2101px) and (max-width: 2500px){
                font-size: 1.5rem;
            }

            @media only screen and (min-width: 1801px) and (max-width: 2100px){
                font-size: 1.4rem;
            }

            @media only screen and (min-width: 1400px) and (max-width: 1800px){
                font-size: 1.1rem;
            }

            @media only screen and (max-width: 991px){
                font-size: 0.9rem;
            }
        }
    }

   

   .footer_links_wrapper a{
       font-size: 1rem;
       display: inline-block;
       color: darkgrey;
       cursor: pointer;

       text-decoration: none;
 

       &:hover{
           text-decoration: underline;
       }

       @media only screen and (min-width: 2501px){
      
        font-size: 1.8rem;
    }

       @media only screen and (min-width: 2101px) and (max-width: 2500px){
        font-size: 1.5rem;
    }

       @media only screen and (min-width: 1801px) and (max-width: 2100px){
        font-size: 1.4rem;
    }

       @media only screen and (min-width: 1400px) and (max-width: 1800px){
        font-size: 1.1rem;
    }

       @media only screen and (max-width: 991px){
        font-size: 0.9rem;
    }
   }

    .brand_logo_offcanvas{
        font-size: 2.5rem;
        color: whitesmoke;
        font-weight: bold;
        span{
            color: $YELLOW;
            text-transform: uppercase;
        }


        @media only screen and (min-width: 2501px){
            font-size: 4rem;
        }


        @media only screen and (min-width: 2101px) and (max-width: 2500px){
            font-size: 3.5rem;
        }
        
       @media only screen and (min-width: 1801px) and (max-width: 2100px){
        font-size: 3rem;
    }

        @media only screen and (max-width: 991px){
            font-size: 2rem;
        }
    }

   p{
       max-width: 300px;
       width: 100%;
       font-size: 1rem;
       color: grey;

       @media only screen and (min-width: 2501px){
        max-width: 600px;
        width: 100%;
        font-size: 1.8rem;
    }

       @media only screen and (min-width: 2101px) and (max-width: 2500px){
        max-width: 500px;
        width: 100%;
        font-size: 1.5rem;
    }

       @media only screen and (min-width: 1801px) and (max-width: 2100px){
        max-width: 400px;
        width: 100%;
        font-size: 1.25rem;
    }

       @media only screen and (min-width: 1400px) and (max-width: 1800px){
        font-size: 1.1rem;
    }

       @media only screen and (max-width: 991px){
        font-size: 0.9rem;
    }

   }
}
  

}