@import "../styles/colors.scss";

.Wrapper{
    padding: 4rem 2rem;
    background: linear-gradient(
        rgba(0,0,0,0.8),
        rgba(0,0,0,0.8) ) ,
        url('/bgs/other.jpg') no-repeat;
        background-size: cover;
        background-position: center;
        max-width: 100vw;
        min-height: 350px;
    // background-color: red;
    text-align: center;


    @media only screen and (max-width: 767px){
        padding: 2rem 1rem;
    }

    .box{
        margin-bottom: 3rem;
        .icons{
            margin-bottom: 0.6rem;
            font-size: 4rem;
            color: $BLUE;
        

            @media only screen and (min-width: 2501px) {
                font-size: 7rem;
            }

            @media only screen and (min-width: 2201px) and (max-width: 2500px) {
                font-size: 6.5rem;
            }

            @media only screen and (min-width: 1801px) and (max-width: 2200px) {
                font-size: 6rem;
            }

            @media only screen and (min-width: 1400px) and (max-width: 1800px) {
                font-size: 4.5rem;
            }

            @media only screen and (max-width: 576px){
                font-size: 2.5rem;
            }

        }
    
        h5{
            font-weight: bolder;
            color: white;
           
         
            font-size: 3.5rem;

            @media only screen and (min-width: 2501px) {
                font-size: 5rem;
            }

            @media only screen and (min-width: 2201px) and (max-width: 2500px) {
                font-size: 4.5rem;
            }

            @media only screen and (min-width: 1801px) and (max-width: 2200px) {
                font-size: 4rem;
            }

            @media only screen and (max-width: 576px){
                font-size: 2rem;
            }
        }
    
        p{
            font-size: 1.1rem;
            
            color: darkgrey;

            @media only screen and (min-width: 2501px) {
                font-size: 2.25rem;
            }

            @media only screen and (min-width: 2201px) and (max-width: 2500px) {
                font-size: 2rem;
            }

            @media only screen and (min-width: 1801px) and (max-width: 2200px) {
                font-size: 1.5rem;
            }

            @media only screen and (min-width: 1400px) and (max-width: 1800px) {
                font-size: 1.25rem;
            }

            @media only screen and (max-width: 576px){
                font-size: 0.9rem;
            }

        }
    }

   
}