@import "../styles/colors.scss";

.Wrapper{
    padding: 4rem 2rem;
    background-color: whitesmoke;


    @media only screen and (max-width: 767px){
        padding: 2rem 1rem;
    }

    .mySwiper{
        min-height: 380px;
        // background-color: red;


        @media only screen and (min-width: 2501px) { 
            min-height: 600px;

        }


        @media only screen and (min-width: 2201px) and (max-width: 2500px) { 
            min-height: 500px;

        }


        @media only screen and (min-width: 1801px) and (max-width: 2200px) { 
            min-height: 400px;

        }

        @media only screen and (max-width: 991px) { 
            min-height: 350px;

        }

        @media only screen and (max-width: 576px) { 
            min-height: 300px;

        }

        // background-color: red;
    //     .swiper-button-next,
    //     .swiper-button-prev {
    //       margin-top: -140px !important;
    //         background-color: $RED;
    //       padding: 2rem;
    //       color: white !important;
    //       border-radius: 10px;
    //       opacity: 0.7;
    //       transition: 0.2s ease-in;
    //       &:hover{
    //         transition: 0.2s ease-out;
    //         opacity: 1;
    //       }
        
    //     //   @media only screen and (min-width: 2501px){
    //     //     padding: 3.5rem;
    //     //   margin-top: -130px !important;
        
    //     // }
        
    //     //   @media only screen and (min-width: 2201px) and (max-width: 2500px){
    //     //     padding: 3rem;
    //     //   margin-top: -140px !important;
        
    //     // }
        
    //     //   @media only screen and (min-width: 1801px) and (max-width: 2200px){
    //     //     padding: 2.5rem;
    //     //   margin-top: -180px !important;
        
    //     // }
        
    // }
        .mySwiperSlide{
            position: relative;
            margin: 0 auto;
            max-width: 1000px;
            width: 100%;
            min-height: 300px;
            background-color: white;
            padding: 2rem 1rem;
            border-radius: 5px;
            color: $BLACK;
            box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
            cursor: grab;


            
        @media only screen and (min-width: 2501px) { 
            min-height: 500px;

        }


            @media only screen and (min-width: 2201px) and (max-width: 2500px) { 
                min-height: 430px;
    
            }

            @media only screen and (min-width: 1801px) and (max-width: 2200px) { 
                min-height: 350px;

            }


            @media only screen and (max-width: 991px) { 
              
                min-height: 250px;
            }

            p{
                margin-bottom: 2.5rem;
                color: $BLACK;
                font-size: 1.3rem;
                font-style: italic;

                @media only screen and (min-width: 2501px) { 
                    font-size: 2.25rem;
        
                }


                @media only screen and (min-width: 2201px) and (max-width: 2500px) { 
                    font-size: 2rem;

                }

                @media only screen and (min-width: 1801px) and (max-width: 2200px) { 
                    font-size: 1.8rem;

                }


                @media only screen and (min-width: 1400px) and (max-width: 1800px) { 
                    font-size: 1.5rem;

                }

                @media only screen and (max-width: 991px) { 
                    margin: 0 auto;
                    max-width: 700px;
                    width: 100%;

                }

                @media only screen and (max-width: 575px) { 
                  font-size: 1.1rem;

                }

                @media only screen and (max-width: 425px) { 
                    font-size: 1rem;
  
                  }
    

            }

            #quotes{
                color: darkgrey;
                font-size: 1.5rem;

                @media only screen and (min-width: 1801px) { 
                   
                    font-size: 2rem;
                }
            }


            .names_wrapper{
                position: absolute;
                right: 0;
                left: 0;
                bottom: 40px;

                @media only screen and (max-width: 375px) { 
                    bottom: 20px;
  
                }

                .names{
                    font-size: 1.5rem;
                    text-align: center;
                    font-weight: bolder;
                    text-transform: capitalize;


                    @media only screen and (min-width: 2501px) { 
                        font-size: 2.5rem;
            
                    }

                    @media only screen and (min-width: 2201px) and (max-width: 2500px) { 
                        font-size: 2.25rem;
    
                    }

                    @media only screen and (min-width: 1801px) and (max-width: 2200px) { 
                        font-size: 2rem;
            
                    }

                    @media only screen and (max-width: 575px) { 
                        font-size: 1.25rem;
                    }

                    @media only screen and (max-width: 425px) { 
                        font-size: 1rem;
      
                      }
                 }
            }
            

        }
    }

    .featured_top_header_tag{
        font-size: 2rem;
        font-weight: 300;
        margin-bottom: 2rem;
        
        display: inline-block;
      

        

        @media only screen and (min-width: 2501px){
            font-size: 3.5rem;
        }

           @media only screen and (min-width: 2001px) and (max-width: 2500px){
            font-size: 3rem;
        }

           @media only screen and (min-width: 1600px) and (max-width: 2000px){
            font-size: 2.5rem;
        }

        @media only screen and (max-width: 640px){
           font-size: 1.5rem;
           font-weight: 500;
        }
    }

}